$stroke-color: #e1e2e6;
$dark-text-color: #7b8399;
$light-text-color: #c6cad3;
$highlight-color: #fec900;
$bg-color: #f1f2f6;
$bg-bottom-color: #dfe2e7;
$forground-color: #fff;
$box-shadow-color: rgba(0, 0, 0, .1);
